<!-- <div oc-lazy-load="helpDesk.login">  -->
<div ng-controller="LoginController as vm">
<div layout="row" flex layout-align="center" style="height:220px;background-color:#3f51b5">
    <h1 style="color:#fff">Login</h1>
</div>
<div id="login-form-wrapper" layout="row" layout-align="center center">
        <div class="md-whiteframe-8dp" layout-padding flex="40"  style="margin-top: -80px; background-color: #fff">

            <form name="loginForm" novalidate>
                <md-input-container class="md-block">
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email"
                           translate translate-attr-placeholder="LOGIN.EMAIL"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$touched" role="alert" multiple>
                        <div ng-message="required">
                            <span>Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span>Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password" required>
                    <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched" role="alert">
                        <div ng-message="required">
                            <span >Password field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-button type="submit" class="md-raised md-accent" aria-label="LOG IN"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine || vm.logging_in"
                           ng-click="login($event)">
                    LOG IN
                </md-button>
            </form>
        </div>
    </div>
</div>
<!-- </div> -->