<md-dialog class="event-detail-dialog" aria-label="New Message">
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <span class="title">Select Staff</span>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                    <md-icon md-font-set="material-icons"> clear </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <div class="event-details" layout="column">

            <div layout="row" layout-align="start start">
                <md-input-container flex="80" flex-offset="10">
                        <label>Staff</label>
                        <md-select ng-model="vm.selected_admin">
                          <md-option ng-repeat="staff in vm.staff_members" ng-value="{{staff.admin_id}}" required>
                            {{staff.first_name}} {{staff.last_name}}
                          </md-option>
                        </md-select>
                </md-input-container>
            </div>

        <md-dialog-actions layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
            <md-button ng-click="vm.saveDialog()" class="save-button md-accent md-raised" aria-label="SELECT"
                       ng-disabled="vm.selected_admin===undefined || vm.selected_admin===''">
                Select
            </md-button>
            </div>
        </md-dialog-actions>

        </div>

    </md-dialog-content>
</md-dialog>