<!-- <div oc-lazy-load="helpDesk.dashboard">  -->
    <div ng-controller="skillsController as vm" flex="100">
	
    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <h1>Skills</h1>
        <div class="white-bg md-whiteframe-4dp skill_container">
            <!-- <md-chips ng-model="vm.selectedSkills" md-autocomplete-snap
              md-transform-chip="vm.transformChip($chip)"
              md-on-add="vm.updateSkills()"
              md-require-match="vm.autocompleteDemoRequireMatch">
              <md-autocomplete
                  md-selected-item="vm.selectedItem"
                  md-search-text="vm.searchText"
                  md-items="item in vm.querySearch(vm.searchText)"
                  md-item-text="item.name"
                  placeholder="Add Skills">
                <span md-highlight-text="vm.searchText">{{item.name}} :: {{item.type}}</span>
              </md-autocomplete>
              <md-chip-template>
                <span>
                  <strong>{{$chip.name}}</strong>
                  <em>({{$chip.type}})</em>
                </span>
              </md-chip-template>
            </md-chips> -->
            <skills ng-model="vm.selectedSkills" skills-list="vm.skills"></skills>
            
            <md-list>
              <md-subheader class="md-no-sticky">Your skills</md-subheader>
              <md-list-item ng-repeat="skill in vm.selectedSkills">
                <b> {{ skill.name }} </b>
                <span style="margin-left:20px"> ({{ skill.type }}) </span>
              
              </md-list-item>
              <md-divider></md-divider>

        </div>
        </div>
    </md-content>
  </section>
</div>
<!-- </div> -->